<head>
<link rel="stylesheet" href="/css/edit.css">
</head>

<form action="/edit-member/<%= member.id %>" method="post">
<input type="hidden" name="id" value="<%= member.id %>">
<br>
Name: <input type="text" name="name" value="<%= member.name %>">
</br>
<br>
Plan: <input type="text" name="plan" value="<%= member.plan %>">
</br>
<br>
Phone: <input type="text" name="phone" value="<%= member.phone %>">
</br>

<button class="btn-edit">Update</button>
</form>
